@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    width: 100%;
    height: 120px;
}

body{
    font-family: 'Amatic SC', cursive;
}


#Logo{
    width: 120px;
    height: 120px;
    position:absolute;
    right: 500px;
    

}
h1{
    font-size: 50px;
    color: #ffff;
    position: absolute;
    top: 25px;
    right: 800px;
    font-family: 'Amatic SC', cursive;
}


#redes{
    max-width: 900px;
    margin: auto;
    background-color: black;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 1100px;

}

.hori{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.hori li a{
    display: block;
    padding: 20px 7px 20px 7px;
    color: #ffff;
    background-color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    
}

.hori a:hover{
    color: #CD113B;
}

.hori li:hover{
    color: #CD113B;
}

.vert{
    display: none;
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: black;
    text-decoration: none;
}

.hori li:hover .vert{
    display: block;
    color: #CD113B;
}

.vert li:hover{
    color: #CD113B;
}


#barra ul{
    list-style-type: none;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 40px;

}

#barra li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
   
}

#barra li a{
    padding: 20px 7px 20px 7px;
    color: #ffff;
    background-color: black;
    text-decoration-line: none;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    
}

#barra li a:hover{
    
    color: #CD113B;
}

section{
    background-color: black;
    width: 100%;
    height: 360px;
}

.gira{
    position: relative;
    width: 500px;
    height: 350px;
    
}

.gira .cara{
    position: absolute;
    left: 500px;
    top: 110px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.gira .frente{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #CD113B;

}

.gira .frente img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gira .frente h3{
    position: absolute;
    bottom: 300px;
    width: 100%;
    height: 15%;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;

}

.gira .atras{
    transform: perspective(600px) rotateY(180deg);
    background: black;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #CD113B;


}

.gira .atras h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.gira .atras p{
    letter-spacing: 1px;
    
}

.gira:hover .frente{
    transform: perspective(600px) rotateY(180deg);
    

}

.gira:hover .atras{
    transform: perspective(600px) rotateY(360deg);

}

footer{
    width: 100%;
    height: 500px;
    background-color: black;
}