@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    width: 100%;
    height: 120px;
    position: relative;
}

body{
    font-size: 0;
}



#Logo{
    width: 120px;
    height: 120px;
    position:absolute;
    right: 500px;
    

}
h1{
    font-size: 50px;
    color: #ffff;
    position: absolute;
    top: 25px;
    right: 800px;
    font-family: 'Amatic SC', cursive;
}


#redes{
    max-width: 900px;
    margin: auto;
    background-color: black;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 1380px;

}

.hori{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.hori li a{
    display: block;
    padding: 20px 7px 20px 7px;
    color: #ffff;
    background-color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    
}

.hori a:hover{
    color: #CD113B;
}

.hori li:hover{
    color: #CD113B;
}

.vert{
    display: none;
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: black;
    text-decoration: none;
}

.hori li:hover .vert{
    display: block;
    color: #CD113B;
}

.vert li:hover{
    color: #CD113B;
}


#barra ul{
    list-style-type: none;
    text-align: right;
    position: absolute;
    right: 10px;
    top: 40px;

}

#barra li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
   
}

#barra li a{
    padding: 20px 7px 20px 7px;
    color: #ffff;
    background-color: black;
    text-decoration-line: none;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    
}

#barra li a:hover{
    
    color: #CD113B;
}

.galeria{
    width: 100%;
    height: 1500px;
    background-color: black;
    display: flex;
    padding: 5px;
}

img{
    width: 100%;
}

.columna{
    flex: 25%;
    padding: 5px;
}

.columna img{
    margin-top: 5px;
    border-radius: 5%;
    box-shadow: 3px 5px 5px  #CD113B;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
}


